body{
    margin: 0px;
    padding: 0px;
    background-color: #212830;
    font-family: "Roboto", sans-serif;
}



nav{
    width: 100%;
    height: 135px;
    background-color: #151B23;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #3d444d;
}



.navVonal{
    width: 100%;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navVonal div{
    width: 95%;
    height: 100%;
    background-color: #3d444d;
    border-radius: 10px;
}

.navAlso{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navA{
    text-decoration: none; 
    color: #d1d7e0;
    height: 35px;
    width: 120px;
    background-color: #2a313c;
    margin-left: 10px;
    margin-right: 10px;
    border-radius:  100px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border: 1px solid #3d444d;
    text-decoration:none;
    text-decoration-color: #00a2ff;
    text-decoration-thickness: 0px;
    font-size: 14px;
}

.navA:hover{
    background-color: #414b5c;
    filter: drop-shadow(0px 3px 10px #5e5e5e80);
    width: 140px;
    height: 35px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #00a2ff;
    text-decoration-thickness: 2px;
}



.navKategoriaDropDownDiv{
    position: absolute;
    text-decoration: none;
    width: 140px;
    height: 35px;
    left: 30px;
    background-color: #00a2ff;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 10px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: none;
    font-size: 14px;
}

.navIcons{
    position: relative;
    width: 33px;
    height: 33px;
    right: -10px;
   

}

.navKategoriaDropDownDiv:hover{
    background-color: #5ec4ff;
    filter: drop-shadow(0px 3px 10px #5e5e5e80);
}

.KategoriaDIV{
    width: 100%;
    height: 250px;
    background-color: #151B23;
    position: absolute;
    border-bottom: 1px solid #3d444d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
}

.KategoriaDIV ul{
    font-size: 17px;
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 30px;
    font-weight: 300;

}

.KategoriaDIV ul a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;

}
.KategoriaDIV ul a:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.322);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #5ec4ff;
    font-weight: 500;
}
.lifocim{
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;
}





/* Felso */

.navFelso{
    width: 100%;
    height: 90px;
    display: flex;
}


.keresoDiv{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.kertesoInput{
    height: 48px;
    background-color: #2a313c;
    padding: 0px;
    width: 70%;
    border: none;
    border-radius: 100px 0px 0px 100px;
    padding-left: 20px;
    color: white;
    font-size: 18px;
   
    border: 1px solid #3d444d;
    border-right: none;

}
.kertesoInputBt{
    height: 50px;
   
    background-color: #2a313c;
    width: 50px;
    border-radius: 0px 100px 100px 0px;
    border: none;
    border: 1px solid #3d444d;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.3s ease;
   
}
.kertesoInputBt img{
    width: 30px;
    height: 37px;
    margin-right: 3px;
}
.kertesoInputBt:hover{
    background-color: #414b5c;
    filter: drop-shadow(0px 3px 10px #5e5e5e80);
}

.kertesoInputBt:active{
    background-color: #00a2ff;
    filter: drop-shadow(0px 3px 10px #5e5e5e80);
}


/* Felso Bal */

.nameDiv{
    display: flex;
   
    align-items: center;
    width: 20%;
}

.nameDiv img{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-left: 25px;
}

.nameDiv h1{
    color: #ffffff;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 600;
}

/*iconok*/

.profbIconDiv{
    width: 50px;
    height: 50px;
    background-color: #2a313c;
    border-radius: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3d444d;
    transition: all 0.3s ease;
    
}

.profbtDiv{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: right;
    
}

.profbIconDiv img{
    width: 30px;
    height: 30px;
}

.profbIconDiv:hover{
    background-color: #414b5c;
    filter: drop-shadow(0px 3px 10px #5e5e5e80);
}
.profbIconDiv:active{
    background-color: #00a2ff;
    filter: drop-shadow(0px 3px 10px #5e5e5e80);
}


/* Sidbar */

.sidbar{
    background-color: #151B23;
    border-right: 1px solid #3d444d;
    width: 400px;
    height: 50%;
    float: left;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.content{
    width: 100%;
    height: 50%;
    background-color: green;
}